{% extends "admin/base.html" %}
{% load i18n static %}

{% block extrastyle %}
    <style>
        /* Add your custom CSS styles here */
        form {
            margin-top: 20px;
        }
        .form-group {
            margin-bottom: 20px;
        }
        label {
            font-weight: bold;
        }
        input[type="file"] {
            border: 1px solid #ccc;
            padding: 8px;
            width: 100%;
            box-sizing: border-box;
        }
        button[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>{% trans "Import from CSV" %}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="csv_file">{% trans "Select CSV file:" %}</label>
            <input type="file" id="csv_file" name="csv_file">
        </div>
        <button type="submit">{% trans "Import" %}</button>
    </form>
    {{ block.super }}
{% endblock %}
