<section class="about section" id="about">
    <h2 class="section-title">À propos du <span class="subtitle">Groupe AFIND</span></h2>
    <div class="container">
        <p class="text">
            AFIND Formation, Centre de Coaching et de Perfectionnement dans le Médical destiné aux professionnels de la Santé.
            <br>
            Le centre AFIND FORMATION, Pionnier dans le Perfectionnement et le Coaching des Professionnels 
            de Santé 👨‍⚕  dans le domaine Médical 🩺 et Paramédical depuis 2018.
        </p>
        <div class="div-video">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/iTfnWmhmGa4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        </div>
    </div>
</section>