<form method="post" role="form" id="enrollForm">
    {% csrf_token %}
    <input type="text" id="id_full_name" name="full_name" placeholder="Nom et Prénom" required>
    <input type="email" id="id_email" name="email" placeholder="Email" required>
    <input type="tel" id="id_phone" name="phone" placeholder="téléphone" required>
    <input type="text" id="id_specialty" name="specialty"  placeholder="spécialité">
    <input type="text" id="id_region"  name="region" placeholder="Région">
    <!-- <button class="button  floating-btn" style="float: inline-end;"> S'inscrire </button> -->
</form>

