<footer class="footer">
    <div class="container">
        <ul class="footer_list"> 
            <li><a href="/#home">Accueil</a></li>
            <li><a href="/#about">À propos</a></li>
            <li><a href="/#formations">Formations</a></li>
            <li><a href="/#contact">Contact</a></li>
        </ul>
        <div class="footer_social">
            <h4>SUIVEZ-NOUS :</h4>
            <ul class="footer_list">
                <li><a target="_blank" href="https://www.facebook.com/AFINDFormation"><i class="bx bxl-facebook"></i></a></li>
                <li><a target="_blank" href="https://www.instagram.com/afindformation/"><i class="bx bxl-instagram"></i></a></li>
                <!-- <li><a target="_blank" href=""><i class="bx bxl-youtube"></i></a></li> -->
                <li><a target="_blank" href="https://www.linkedin.com/feed/update/urn:li:activity:7034534780243206144"><i class="bx bxl-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
    <hr>
    <p>Copyright &#169; 2024, tous droits réservés</p>
</footer>

