{% extends "base.html" %}
{% block title %}AFIND Formation - {{ formation.title }}{% endblock %}
<!--===== MAIN =====-->
{% load static %}
{% block content %}
<!--===== FORMATION =====-->
<section class="formation section" id="">
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {% if message.tags == 'success' %}
                        <i class='bx bx-check-circle alert-icon'></i>
                    {% elif message.tags == 'error' %}
                        <i class='bx bx-error-circle alert-icon'></i>
                    {% endif %}
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="desc_container">
            <div class="images-slider">
                <div class="imgSlides">
                    <img src="{{ formation.image.url }}" alt="{{ formation.title }}">
                </div>
                {% for img in formation_images %}
                    <div class="imgSlides">
                        <!-- <div class="numbertext">1 / 6</div> -->
                        <img src="{{ img.image.url }}" alt="{{ formation.title }}">
                    </div>
                {% endfor %}
                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10095;</a>
                <a class="next" onclick="plusSlides(1)">&#10094;</a>
                <!-- Thumbnail images -->
                <div class="row">
                    <div class="column">
                        <img class="demo cursor" src="{{ formation.image.url }}" alt="{{ formation.title }}" style="width:100%" onclick="currentSlide(1)">
                    </div>
                    {% for img in formation_images %}
                        <div class="column">
                            <img class="demo cursor" src="{{ img.image.url }}" alt="{{ formation.title }}" style="width:100%" onclick="currentSlide('{{ forloop.counter|add:1 }}')">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="detial_container">
                <h3 class="title">{{ formation.title }}</h3>
                <!-- Promo Sign -->
                {% if formation.discount > 0 %}
                <span class="promo-sign">Promo</span>
                <p class="detail_label"><span class="discount">-{{ formation.discount }}%</span> <span class="discounted_price">{{ formation.discounted_price }}DA</span> <span class="detail_price">{{ formation.price }}DA</span></p>
                {% else %}
                <p class="detail_label"><span class="discounted_price" style="margin: auto;">{{ formation.price }}DA</span></p>
                {% endif %}
                <p class="detail_label">Durée :<span class=""> 10 mai - 15 mai 2024</span></p>
                <p class="detail_label">Instructeur :<span class=""> {{ formation.instructor }}</span></p>
                <p class="detail_label">Département :<span class=""> {{ formation.department }}</span></p>
                <p class="detail_label">Places restantes :<span class=""> Seulement {{ formation.places_left }} places restantes!</span></p>
                <p class="detail_label">Lieu :<span class=""> {{ formation.place }}</span> <span  style="float: right;">Date :<span class="detail_deadline"> {{ formation.date }}</span></span></p>
                <!--===== ENROLL FORM =====-->
                {% include "enroll_form.html" %}
            </div>
        </div>
        <br>
        <pre>{{ formation.description }}</pre>
        {% if formation.map_iframe %}
        <div class="map">
            {{ formation.map_iframe|safe }}
        </div>
        {% endif %}
        <!--===== MORE FORMATIONS =====-->
        {% include "formations_section.html" %}
        <button class="button floating-btn" onclick="submitEnrollForm()">s'inscrire</button>
    </div>
    <script>
        let slideIndex = 1;
        showSlides(slideIndex);
        
        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }
        
        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }
        
        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("imgSlides");
            let dots = document.getElementsByClassName("demo");
            console.log(dots)
            console.log(slides)
            console.log(i, n)
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            console.log(i, slideIndex)
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
        }
    </script>
</section>
{% endblock %}

