{% load static %}
<!--===== FORMATIONS =====-->
<section class="formations section" id="formations">
    <h2 class="section-title">Nos <span class="subtitle">Formations</span></h2>
    <div class="container">
        <article class="formations">
            <div class="formations-img">
                <img src="{% static 'img/formation_1.jpg' %}" alt="formations">
            </div>
            <h4 class="subtitle">Formation en Nursing</h4>
            <p>Cette formation vous permettra de...</p>
            <a href="#" class="button">plus de détails  <i class='bx bx-right-arrow-alt'></i></a>
        </article>
        <article class="formations">
            <div class="formations-img">
                <img src="{% static 'img/formation_2.jpg' %}" alt="formations">
            </div>
            <h4 class="subtitle">Techniques Avancées de Chirurgie</h4>
            <p>Approfondissez vos connaissances en...</p>
            <a href="#" class="button">plus de détails  <i class='bx bx-right-arrow-alt'></i></a>
        </article>
        <article class="formations">
            <div class="formations-img">
                <img src="{% static 'img/formation_3.jpg' %}" alt="formations">
            </div>
            <h4 class="subtitle">Formation en Nursing</h4>
            <p>Cette formation vous permettra de...</p>
            <a href="#" class="button">plus de détails  <i class='bx bx-right-arrow-alt'></i></a>
        </article>
        <article class="formations">
            <div class="formations-img">
                <img src="{% static 'img/formation_4.jpg' %}" alt="formations">
            </div>
            <h4 class="subtitle">Techniques Avancées de Chirurgie</h4>
            <p>Approfondissez vos connaissances en...</p>
            <a href="#" class="button">plus de détails  <i class='bx bx-right-arrow-alt'></i></a>
        </article>
        <article class="formations">
            <div class="formations-img">
                <img src="{% static 'img/formation_5.jpg' %}" alt="formations">
            </div>
            <h4 class="subtitle">Techniques Avancées de Chirurgie</h4>
            <p>Approfondissez vos connaissances en...</p>
            <a href="#" class="button">plus de détails  <i class='bx bx-right-arrow-alt'></i></a>
        </article>
        <article class="formations">
            <div class="formations-img">
                <img src="{% static 'img/formation_1.jpg' %}" alt="formations">
            </div>
            <h4 class="subtitle">Formation en Nursing</h4>
            <p>Cette formation vous permettra de...</p>
            <a href="#" class="button">plus de détails  <i class='bx bx-right-arrow-alt'></i></a>
        </article>
        <article class="formations">
            <div class="formations-img">
                <img src="{% static 'img/formation_2.jpg' %}" alt="formations">
            </div>
            <h4 class="subtitle">Techniques Avancées de Chirurgie</h4>
            <p>Approfondissez vos connaissances en...</p>
            <a href="#" class="button">plus de détails  <i class='bx bx-right-arrow-alt'></i></a>
        </article>
        <article class="formations">
            <div class="formations-img">
                <img src="{% static 'img/formation_3.jpg' %}" alt="formations">
            </div>
            <h4 class="subtitle">Formation en Nursing</h4>
            <p>Cette formation vous permettra de...</p>
            <a href="#" class="button">plus de détails  <i class='bx bx-right-arrow-alt'></i></a>
        </article>
        <article class="formations">
            <div class="formations-img">
                <img src="{% static 'img/formation_4.jpg' %}" alt="formations">
            </div>
            <h4 class="subtitle">Techniques Avancées de Chirurgie</h4>
            <p>Approfondissez vos connaissances en...</p>
            <a href="#" class="button">plus de détails  <i class='bx bx-right-arrow-alt'></i></a>
        </article>
    </div>
</section>