{% load static %}
<header class="header" id="header">
    <nav class="nav">
        <a title="Logo" href="/" class="nav_logo">
            <img max-width="100%" height="auto" class="my-logo" id="my-logo" src="{% static 'img/Logo.png' %}" title="Logo" alt="AFIND">
            <!-- AFIND Formation  -->
        </a>
        <div class="nav_menu" id="nav-menu">
            <ul class="nav_list"> 
                <li class="nav_item"><a href="/" class="nav_link">Accueil</a></li>
                <li class="nav_item"><a href="/formations" class="nav_link">Formations</a></li>
                <li class="nav_item"><a href="/a-propos" class="nav_link">À propos</a></li>
                <li class="nav_item"><a href="/contact" class="nav_link">Contact</a></li>
            </ul>
        </div>
        <div class="nav_toggle">
            <i class="bx bx-menu" id="nav-toggle"></i>
        </div>
    </nav>
</header>

