{% extends "admin/change_list.html" %}
{% load static %}
{% block extrastyle %}
    <style>
        /* Add your custom CSS styles here */
        .import-csv-link {
            display: inline-block;
            margin-bottom: 10px;
            padding: 8px 12px;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
{% endblock %}
{% block content %}
<a class="button import-csv-link" href="import-csv/">Import from CSV</a>
{{ block.super }}
{% endblock %}