{% extends "admin/change_list.html" %}
{% load static %}
{% block extrastyle %}
    <style>
        /* Add your custom CSS styles here */
        .import-csv-link {
            display: inline-block;
            margin-bottom: 10px;
            padding: 8px 12px;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }
        #changelist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#changelist .changelist-form-container {
    flex: 1 1 auto;
    min-width: 0;
}
@media (max-width: 1024px) {
    #changelist-filter {
        flex-basis: 200px;
    }
}
#changelist-form .results {
    overflow-x: auto;
    width: 100%;
}
#changelist-filter {
    flex: 0 0 240px;
    order: 1;
    background: var(--darkened-bg);
    border-left: none;
    margin: 0 0 0 30px;
}
    </style>
{% endblock %}
{% block content %}
<a class="button import-csv-link" href="import-csv/">Import from CSV</a>
{{ block.super }}
{% endblock %}